.title1.1{
  color:green;
  font-size:5rem;
  float:right;
}
ul{
  float: right;
  flex-wrap: wrap;
  margin: 10px;
  border: 5px solid black;
  background: linear-gradient(orange, red); 
}

table{
  font-family: bookman,'bookman heading', serif;
  font-size: 30px;
  flex-wrap: wrap;
  justify-content: center;
  color: blue;
  border: 5px solid green;
  background-image: url("https://www.freeimages.com/photo/digital-world-1241888");
  background-size: cover;
}
h2{
  color:green;
  border: 2px solid blue;
}
.image1{
  border:10 px solid yellow;
  margin 20px;
  color: red;
}
  .font1{
    justify-content: center;
    font-size: 50px;
    color: silver;
    border: 20px solid yellow;
}
