.title1.1{
  color:green;
  font-size:5rem;
  float:right;
}
ul{
  float: right;
  flex-wrap: wrap;
  margin: 10px;
  border: 5px solid black;
  background: linear-gradient(blue, red); 
}

table{
  font-family: bookman,'bookman heading', serif;
  font-size: 30px;
  flex-wrap: wrap;
  justify-content: center;
  color: blue;
  border: 5px solid green;
}
